.cleenmain.sheet.item {
    .sheet-content {
        .boon-line{
            display: flex;
            flex-direction: row;
            font-family: @long-text-font;
            font-size: @long-text-font-size;
            .boon-block{
                display: flex;
                flex-direction: row;
                flex-basis: 50%;
                .label-dev{
                    padding-top: 0.4em;
                }
            }
        }
    }
}