@font-face{
    font-family: "Morris Roman";
    src: url("./assets/fonts/MorrisRomanBlack.otf");
}
@font-face{
    font-family: "Museo Slab";
    src: url("./assets/fonts/Museo_Slab_300.otf");
}
@font-face{
    font-family: "Museo Slab";
    src: url("./assets/fonts/Museo_Slab_300italic.otf");
    font-style: italic;
}
@font-face{
    font-family: "Museo Slab";
    src: url("./assets/fonts/Museo_Slab_700.otf");
    font-weight: bold;
}

.MuseoSlab(){
    font-family: "Museo Slab";
}
@default-font: "Museo Slab";

//colors
@title-color: #693d25;
@font-soft-color: #8e8d8d;
@core-main-color: #456;
@boon-color: #51602f;
@icon-color: rgb(112, 90, 16);
@clear-background: #fffdfc;
@chat-introtext: black;
@chat-formulatext: white;
@chat-finaltext: white;
@chat-modifiertext: rgb(206, 233, 86);



//size
@editor-height: 5em;

//images
@playersheet-background: no-repeat url('./assets/image/paxelfica-fondfdp.webp');
@npcsheet-background: no-repeat url('./assets/image/paxelfica-fondfdp.webp');
@chat-background: no-repeat url('./assets/image/chat_background.webp');
@chat-divider: top/50% no-repeat url('./assets/image/Deco_feuilles.webp');