@font-face {
  font-family: "Signika";
  src: url("../../../fonts/signika/signika-regular.woff2");
}
@font-face {
  font-family: "Modesto condensed";
  src: url("../../../fonts/modesto-condensed/modesto-condensed.woff2");
}
@font-face {
  font-family: "Merriweather";
  src: url("../../systems/cleenmain/assets/fonts/Merriweather-Regular.ttf");
}
input {
  color: #456;
}
