.cleenmain.sheet.item {
  .window-content {
    background: @itemsheet-background;
    background-size: 100% auto;
    background-color: @clear-background;
    font: @default-font;
    h1 {
      font: @h1-font;
      color: @title-color;
      text-transform: @h1-text-transform;
      border: @h1-border;
    }
    h2 {
      font: @h2-font;
      color: @title-color;
    }
    .editor {
      height: 100%;
      width: 100%;
      background: @edit-background;
      box-shadow: inset 0 0 6px black;
      font: @long-text-font;
    }
    input {
      background-color: @edit-background;
      box-shadow: inset 0 0 3px black;
      height: 1.5em;
      color: @core-main-color;
    }
    .checkbox{
      height: 1em;
    }
    select {
      background-color: @edit-background;
      box-shadow: inset 0 0 3px black;
      height: 1.5em;
      color: @core-main-color;
    }
    input:focus {
      background-color: @editactive-background;
    }
    .sheet-header {
      input {
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}

.cleenmain-scrollable {
  padding-right: initial;
  scrollbar-gutter: auto;
  .window-content {
    overflow-y: scroll;
  }
}
