.cleenmain.sheet.player {
    .window-content {
        background: @playersheet-background;
        background-color: @clear-background;
        font-family: @default-font;
        background-size: 250px 100%;
    }
    textarea {
        resize: none;
    }
    .editor {
        height: 100%;
        width: 100%;
        background:@edit-background;
        box-shadow: inset 0 0 6px black;
    }
    input {
        background-color: @edit-background;
        box-shadow: inset 0 0 3px black;
    }
    input:focus {
        background-color: @editactive-background;
    }
    select{
        background-color: @edit-background;
        box-shadow: inset 0 0 3px black;
        height: 1.5em;
    }
    form {
        display: flex;
        flex-direction: row;
    }
    .right-icon{
        margin-left: auto;
    }
    .main {
        display: flex;
        flex-direction: row;
        .leftcolumn {
            display: flex;
            flex-direction: column;
            min-width: 200px;
            margin-right: 20px;
            .title-line{
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 0 0 2em 0;
            }
            .skills{
                display: flex;
                flex-direction: column;
                gap: .2em;
                .skill-line{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .skill-name{       
                        width: 70%;
                    }
                    .skill-value{
                        background: @clear-background;
                        border: 1px solid rgb(146, 142, 142);
                        border-radius: 5px;
                        width: 10%;
                        text-align: center;
                    }
                    .skill-dev{       
                        width: 10%;
                    }
                    .item-roll{       
                        width: 20%;
                        text-align: center;
                    }
                    .item-delete{
                        width: 10%
                    }
                }
            }
        }
        .central {
            flex-grow: 4;
            display: flex;
            flex-direction: column;
            .intro-block{
                display: flex;
                flex-direction: row;
                margin: 0 0 1em 0;
                .intro-block-right{
                    display: flex;
                    flex-flow: column nowrap;
                    .right-icon{
                        align-self: flex-end;
                    }
                    .space-between{
                        justify-content: space-between;}
                    .central-line{
                        font-family: @default-font;
                        font-size: 1rem;
                        font-weight: bold;
                        display: flex;
                        flex-flow: row nowrap;
                        margin: 0.5em;
                        white-space: nowrap;
                        .input-heroism{
                            display: flex;
                            flex-direction: row;
                            input{
                                width: 1em;
                            }
                        }
                        .right-icon{
                            margin: 0 0 0 .5em;
                        }
                        .central-text{
                            margin: 0.3em .2em 0 .1em;
                        }
                        .name-text, .blessure-text, .heroism-text, .health-text{
                            margin: 0.3em .3em 0 .3em;
                        }
                        .activity-text{
                            font-weight: normal;
                            font-size: small;
                            white-space: normal;
                        }
                        .health-block{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            .health-input{
                                width: 2em;
                            }
                        }
                        .blessure-block{
                            display: flex;
                            flex-direction: row;
                            select{
                                margin: 0 .5em 0 0;
                            }
                        }
                    }
                }
            }
            .sheet-tabs{

                display: flex;
                flex-direction: row;
                font-size: 1,5em;

            }
                
            .actor {
                background: @clear-background;
                color: @font-soft-color;
                border: 1px solid @core-main-color;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                text-align: center;
                padding: .5em .5em .3em .5em;
            }                
            .actor.active {
            border: 1px solid black;
            color: @core-main-color;
            border-bottom-width: 0;
            }
            .sheet-body{
                background: @clear-background;
            }
        }
    }
    .right-icon{
        font-family: @default-font;
        font-size: 1.2rem;
        color: @icon-color;
    }
}