@font-face {
  font-family: "Morris Roman";
  src: url("./assets/fonts/MorrisRomanBlack.otf");
}
@font-face {
  font-family: "Museo Slab";
  src: url("./assets/fonts/Museo_Slab_300.otf");
}
@font-face {
  font-family: "Museo Slab";
  src: url("./assets/fonts/Museo_Slab_300italic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Museo Slab";
  src: url("./assets/fonts/Museo_Slab_700.otf");
  font-weight: bold;
}
.cleenmain.sheet.player .window-content {
  background: no-repeat url('./assets/image/paxelfica-fondfdp.webp');
  background-color: #fffdfc;
}
.cleenmain.sheet.player textarea {
  resize: none;
}
.cleenmain.sheet.player form {
  display: flex;
  flex-direction: row;
}
.cleenmain.sheet.player .right-icon {
  margin-left: auto;
}
.cleenmain.sheet.player .main {
  display: flex;
  flex-direction: row;
}
.cleenmain.sheet.player .main .leftcolumn {
  display: flex;
  flex-direction: column;
}
.cleenmain.sheet.player .main .leftcolumn .title-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 2em 0;
}
.cleenmain.sheet.player .main .leftcolumn .skills {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.cleenmain.sheet.player .main .leftcolumn .skills .skill-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cleenmain.sheet.player .main .leftcolumn .skills .skill-line .skill-name {
  width: 70%;
}
.cleenmain.sheet.player .main .leftcolumn .skills .skill-line .skill-value {
  background: #fffdfc;
  border: 1px solid #928e8e;
  border-radius: 5px;
  width: 10%;
  text-align: center;
}
.cleenmain.sheet.player .main .leftcolumn .skills .skill-line .skill-dev {
  width: 10%;
}
.cleenmain.sheet.player .main .leftcolumn .skills .skill-line .item-roll {
  width: 20%;
  text-align: center;
}
.cleenmain.sheet.player .main .leftcolumn .skills .skill-line .item-delete {
  width: 10%;
}
.cleenmain.sheet.player .main .central {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}
.cleenmain.sheet.player .main .central .intro-block {
  display: flex;
  flex-direction: row;
  margin: 0 0 1em 0;
}
.cleenmain.sheet.player .main .central .intro-block .imgpaxtitle01 {
  display: block;
  background-image: url('./assets/image/pax_titre.webp');
  width: 450px;
  height: 165px;
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  border: 0;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right {
  display: flex;
  flex-flow: column nowrap;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .right-icon {
  align-self: flex-end;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .space-between {
  justify-content: space-between;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line {
  display: flex;
  flex-flow: row nowrap;
  margin: 0.5em;
  white-space: nowrap;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line .input-heroism {
  display: flex;
  flex-direction: row;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line .input-heroism input {
  width: 1em;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line .right-icon {
  margin: 0 0 0 0.5em;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line .central-text {
  margin: 0.3em 0.2em 0 0.1em;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line .name-text,
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line .blessure-text,
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line .heroism-text,
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line .health-text {
  margin: 0.3em 0.3em 0 0.3em;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line .health-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line .health-block .health-input {
  width: 2em;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line .blessure-block {
  display: flex;
  flex-direction: row;
}
.cleenmain.sheet.player .main .central .intro-block .intro-block-right .central-line .blessure-block select {
  margin: 0 0.5em 0 0;
}
.cleenmain.sheet.player .main .central .sheet-tabs {
  display: flex;
  flex-direction: row;
  font-size: 1,5em;
}
.cleenmain.sheet.player .main .central .actor {
  background: #fffdfc;
  color: #8e8d8d;
  border: 1px solid #456;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  padding: 0.5em 0.5em 0.3em 0.5em;
}
.cleenmain.sheet.player .main .central .actor.active {
  border: 1px solid black;
  color: #456;
  border-bottom-width: 0;
}
.cleenmain.sheet.player .main .central .sheet-body {
  background: #fffdfc;
}
.cleenmain.sheet.npc .input-short {
  width: 2em;
}
.cleenmain.sheet.npc .input-long {
  width: 12em;
}
.cleenmain.sheet.npc .window-content {
  background: no-repeat url('./assets/image/paxelfica-fondfdp.webp');
  background-color: #fffdfc;
  font-family: "Museo Slab";
}
.cleenmain.sheet.npc .window-content input {
  color: #456;
}
.cleenmain.sheet.npc .npc-main {
  display: flex;
  flex-direction: column;
}
.cleenmain.sheet.npc .npc-main .name-line {
  margin: 0.5em;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
}
.cleenmain.sheet.npc .npc-main .name-line .sheet-unlock {
  margin-left: auto;
  padding-left: 0.5em;
  color: #705a10;
}
.cleenmain.sheet.npc .npc-main .npcstat-block {
  display: flex;
  flex-direction: row;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left select {
  margin: 0.5em 0.5em;
  width: 12em;
  height: auto;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .weapons .weapon-line {
  display: flex;
  flex-direction: row;
  margin: 0.5em 0.5em;
  font-family: "Museo Slab";
  font-size: 1rem;
  font-weight: bold;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .weapons .weapon-line .line-label {
  color: #693d25;
  margin-left: 0.5em;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .weapons .weapon-line .weapon-el {
  margin-left: 0.5em;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .weapons .weapon-line .item-create {
  padding-left: 0.5em;
  color: #705a10;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .npcskills-line {
  display: flex;
  flex-direction: row;
  margin-left: 0.5em;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .npcskills-line .npcskills-block {
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  margin: 0.5em 0.5em;
  font-size: 1rem;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .npcskills-line .npcskills-block .npcskill-label {
  font-weight: bold;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .npcskills-line .npcskills-block .npcskill-value {
  display: flex;
  flex-direction: row;
  padding: 0 0.5em 0 0.5em;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .skills .skill-line {
  display: flex;
  flex-direction: row;
  margin-left: 0.5em;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .skills .skill-line .skill-block {
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  margin: 0.5em 0.5em;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .skills .skill-line .skill-block .skill-value {
  padding: 0 0.5em 0 0.5em;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .npchealth-line {
  display: flex;
  flex-direction: row;
  margin: 1em;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .npchealth-line .central-text {
  margin: 0.3em 0.2em 0 0.1em;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-left .npchealth-line .health-block {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
}
.cleenmain.sheet.npc .npc-main .npcstat-block .npcstat-block-right {
  flex-basis: 30%;
  text-align: center;
}
.boon-card {
  display: flex;
  flex-flow: column;
  height: 150px;
  font-size: 12px;
}
.boon-card .boon-header {
  height: 20px;
}
.boon-card .boon-name-line {
  display: flex;
  flex-flow: row wrap;
  height: 20px;
}
.boon-card .boon-name-line .input {
  flex-basis: 10%;
}
.boon-card .boon-name-line .boon-name {
  flex-basis: 90%;
}
.boon-card .editor {
  flex-grow: 100%;
  height: 100%;
}
.cleenmain.sheet.item form {
  display: flex;
  flex-direction: column;
}
.cleenmain.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cleenmain.sheet.item .sheet-content .boon-line {
  display: flex;
  flex-direction: row;
}
.cleenmain.sheet.item .sheet-content .editor {
  height: 100%;
}
.cleenmain.sheet.item form {
  display: flex;
  flex-direction: column;
}
.cleenmain.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cleenmain.sheet.item .sheet-content .boon-line {
  display: flex;
  flex-direction: row;
}
.cleenmain.sheet.item .sheet-content .editor {
  height: 100%;
}
.cleenmain.sheet.item form {
  display: flex;
  flex-direction: column;
}
.cleenmain.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cleenmain.sheet.item .sheet-content .boon-line {
  display: flex;
  flex-direction: row;
}
.cleenmain.sheet.item .sheet-content .editor {
  height: 100%;
}
.boons-tab .item-create {
  margin-left: auto;
}
.boons-tab .boon-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.boons-tab .boon-group .boon-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 50%;
  padding: 1em 0.5em 0 0.5em;
}
.boons-tab .boon-group .boon-card .boon-name-line {
  font-size: 1rem;
  height: fit-content;
}
.boons-tab .boon-group .boon-card .boon-name-line .boon-name {
  color: #51602f;
}
.tab-bio {
  display: flex;
  flex-direction: column;
}
.tab-bio .line-label {
  padding-top: 1em;
}
.tab-bio .editor {
  min-height: 5em;
}
.tab-bio .editor .editor-content {
  min-height: 5em;
}
.tab-bio .editor .tox.tox-tinymce {
  min-height: 10em;
}
.cleenmain.sheet.player .main .central .combat-tab {
  margin: 1em 0 0.5em 0;
  display: flex;
  flex-direction: column;
}
.cleenmain.sheet.player .main .central .combat-tab .title-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cleenmain.sheet.player .main .central .combat-tab .item-create {
  margin-left: auto;
}
.cleenmain.sheet.player .main .central .combat-tab .combat-domain-label {
  margin: 1em 0 0 0;
}
.cleenmain.sheet.player .main .central .combat-tab .trainings-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cleenmain.sheet.player .main .central .combat-tab .trainings-list .trainings-group {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.cleenmain.sheet.player .main .central .combat-tab .trainings-list .trainings-group .trainings-name {
  margin: 0 1em 0 0;
}
.cleenmain.sheet.player .main .central .combat-tab .bonus-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cleenmain.sheet.player .main .central .combat-tab .bonus-list .bonus-line {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.cleenmain.sheet.player .main .central .combat-tab .bonus-list .bonus-line .bonus-text {
  background: #fffdfc;
  border: 1px solid #928e8e;
  border-radius: 5px;
  width: 10%;
  text-align: center;
}
.cleenmain.sheet.player .main .central .combat-tab .combat-group-label {
  font-style: italic;
  padding: 1em 0 0.5em 0;
}
.notes-tab {
  display: flex;
  flex-direction: column;
}
.notes-tab .editor {
  min-height: 5em;
}
.notes-tab .editor .editor-content {
  min-height: 5em;
}
.notes-tab .editor .tox.tox-tinymce {
  min-height: 10em;
}
.equipment-tab {
  display: flex;
  flex-direction: column;
  padding: 0 0 2em 0;
}
.equipment-tab .title-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em 0 0.5em 0;
}
.equipment-tab .title-line .item-create {
  margin-left: auto;
}
.equipment-tab .equipment-column {
  display: flex;
  flex-direction: column;
}
.equipment-tab .equipment-column .equipment-line {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0.3em 0.3em 0 0.3em;
  border-bottom: 1px solid #693d25;
}
.equipment-tab .equipment-column .equipment-line .icon-group {
  margin-left: auto;
}
.equipment-tab .wealth-line {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  height: 1em;
  margin: 1em;
}
.equipment-tab .wealth-line .wealth-name {
  margin: 0.3em 0.3em 0 0.3em;
  width: 25%;
}
.equipment-tab .wealth-line input {
  width: 3em;
  margin: 0 1em 1em 0.3em;
}
.equipment-tab label {
  display: flex;
  flex-direction: row;
}
.equipment-tab label .item-create {
  margin-left: auto;
}
.cleenmain.sheet.player .window-content {
  font-family: "Museo Slab";
}
.cleenmain.sheet.player .window-content input {
  color: #456;
}
.cleenmain.sheet.player h1 {
  font-family: "Morris Roman";
  font-size: 1.2rem;
  color: #693d25;
  text-transform: uppercase;
  border: none;
}
.cleenmain.sheet.player h2 {
  font-family: "Morris Roman";
  font-size: 1rem;
  color: #693d25;
}
.cleenmain.sheet.player .main .central .central-line {
  font-family: "Morris Roman";
  font-size: 1rem;
  font-weight: bold;
}
.cleenmain.sheet.player .right-icon {
  font-family: "Morris Roman";
  font-size: 1.2rem;
  color: #705a10;
}
.tab-bio .line-label {
  color: #693d25;
}
