<div class="boon-card">
    <a class="item-edit">
        <div class="boon-header item" data-item-id="{{item.id}}">
            <p>{{localize "CLEENMAIN.label.boon"}}</p>
        </div>
            <div class="boon-name-line">
                <input class="checkbox inline-edit" data-field="data.developed" id="{{id}}" name="item.data.data.developed" type="checkbox" {{checked item.data.data.developed}}>
            <div class="boon-name">{{item.data.data.description}}</div>
        </div>
        <div class="description">
            <p>{{item.data.data.description}}</p>
        </div>
    </a>
</div>