.tab-bio{
    display: flex;
    flex-direction: column;
    padding: 0 0 2em 0;
    .line-label{
        color: @title-color;
    }
    .title-line{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em 0 0.5em 0;
        .item-create{
            margin-left: auto;
        }
    }
    .biodata-column{
        display: flex;
        flex-direction: column;
        .biodata-line{
            justify-content: left;
            margin: 1em 0.3em 0 1em;
            .biodata-name{
              font-weight: bold;
            }
            .icon-group{
                margin-left: auto;
            }
        }
    }
    label {
        display: flex;
        flex-direction: row;

        .item-create{
            margin-left: auto;
        }
    }
}