.notes-tab{
    display: flex;
    flex-direction: column;
    margin: 1em;
    font-family: @long-text-font;
    font-size: @long-text-font-size;
    
  .editor{
    min-height: 200px;
    max-height: 400px;
    width:auto;
    .editor-content{
      min-height: 200px;
      max-height: 400px;
    }
    .tox.tox-tinymce{
      min-height: auto;
    }
  }
}