.notes-tab{
    display: flex;
    flex-direction: column;
    margin: 1em;
    font-family: @long-text-font;
    font-size: @long-text-font-size;
    
  .editor{
    min-height: @editor-height;
    .editor-content{
      min-height: @editor-height;
    }
    .tox.tox-tinymce{
      min-height: @editor-height * 2;
    }
  }
}