.boons-tab{
    .item-create{
        margin-left: auto;
    }
    .boon-group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .boon-card{
            display: flex;
            flex-direction: column;
            height: fit-content;
            width: 50%;
            padding: 1em 0.5em 0 0.5em;
            .boon-name-line{
                display: flex;
                flex-flow: row wrap;
                .boxicon{
                    padding: 0.3em 0.5em 0 0 ;
                    font-size: .8em;
                }
                .boon-name{
                    font: @boon-name-font;
                    color: @boon-color;
                }
            }
            .boon-used-line{
                font: @boon-extratext-font;
            }
            .boon-description{
                background: @booncard-background;
                padding: 0.5em;
                box-shadow: inset 0 0 3px black;
                color: @font-color-booncard;
                font: @boon-text-font;
                max-width: 400px;
            }
            .icon-group{
                margin-left: auto;
            }
        }
    }
}
