.chatroll{
    background: @chat-background;
    background-color: @clear-background;
    display: flex;
    flex-direction: column;
    font: @chat-font;
    color:@chat-introtext;
    .intro{
        background: @chat-title-background;
        border-radius: @chat-title-border-radius;
        display: flex;
        flex-direction: row;
        justify-content:center;
        .introImg {
            border: none;
            padding: 5px;
            width: 60px;
            height: 60px;
            object-fit: contain;
            object-position: center;
            align-self:center;
        }
        .introText{
            width: 210px;
            min-height: 60px;
            padding-top: 0.5em;
            font: @chat-intro-font;
            text-align: center;
        }
    }
    .dice.d6 {
        position: relative;
        width: 24px;
        line-height: 24px;
        margin-right: 5px;
        /* float: left; */
        /* background-image: url('assets/image/d6-grey.svg'); */
        /* background-repeat: no-repeat; */
        /* background-size: 100px; */
        font-size: var(--font-size-16);
        color: #000;
        font-weight: bold;
        text-align: center;
      }    
    .modifierText{
        margin-bottom: 5px;
        color: @chat-modifiertext;
        font: @chat-modifier-font;
        text-align: center;
    }
    .formulaText{
        padding: 1em 0 0 0;
        font: @chat-formulatext-font;
        color: @chat-formulatext;
        text-align: center;
    }
    .formulaTooltip {
        position: relative;
        display: inline-block;
        .tooltiptext {
            visibility: hidden;
            width: 200px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            position: absolute;
            left: 20px;
            top: 20px;
            z-index: 1;
          }
    }
      .formulaTooltip:hover .tooltiptext {
        visibility: visible;
    }
    .finalText{
        font: @chat-finaltext-font;
        color: @chat-finaltext;
        text-align: center;
        .tooltip {
        position: relative;
        display: inline-block;
        }
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
        
            position: absolute;
            z-index: 1;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    }
    .endimg{
        background: @chat-end-background;
        height: @chat-end-height;
    }
}