.dialog{
    background-color: @clear-background;
    display: flex;
    flex-direction: column;
    font-family: @dialog-font;
    font-size: @dialog-font-size;
    .tooltip {
    position: relative;
    display: inline-block;
    }
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 160px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
    
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 1;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
    .intro{
        display: flex;
        flex-direction: row;
        align-content: center;
        .introImg {
            border: none;
            padding: 5px;
            width: 120px;
            height: 120px;
            object-fit: contain;
            object-position: center;
            align-self:center;
        }
        .introtext{
            font-size: @dialog-intro-font-size;
            font-weight: @dialog-intro-font-weight;
            padding-top: 1.5em;
            text-align: center;
            width: 300px;
        }
    }
    .formula{
        text-align: center;
        margin: 0.5em;
        font-size: @dialog-intro-font-size;
        font-weight: @dialog-intro-font-weight;
    }
    .rollmodifier{
        display: flex;
        flex-direction: row;
        margin: 1em;
        input{
            width: 6em;
            margin: 0 0 1em  1em;
        }
    }
    .paddingend{
        padding: 0 0 5em 0;
    }
    .bonus{
        h2{
            font-weight: bold;
        }
    }
    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
    }
      td {
        width: 25%;
        input{
            width: 2em;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: auto;
        }
      }
}
