.chatroll{
    background: @chat-background;
    background-color: @clear-background;
    display: flex;
    flex-direction: column;
    font: @default-font;
    color:@chat-introtext;
    .intro{
        .introImg {
            display: flex;
            flex-direction: row;
            border: none;
            vertical-align: left;
            text-align: center;
            padding: 0px 5px 0px 55px;
            background-size: 50px 70px;
            background-position: 5px;
            background-repeat: no-repeat;
            height: 80px;
            min-height: 80px;
        }
        .introText{
            padding-top: 1em;
        }
    }
    .modifierText{
        margin-bottom: 5px;
        color: @chat-modifiertext;
        text-align: center;
    }
    .formulaText{
        background: @chat-divider;
        padding: 4em 0 1em 0;
        color: @chat-formulatext;
        text-align: center;
    }
    .finalText{
        margin: 1em 0 1em 0;
        color: @chat-finaltext;
        text-align: center;
        .tooltip {
        position: relative;
        display: inline-block;
        }
        
        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
        
            position: absolute;
            z-index: 1;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    }
}