<div class="combat-tab">
    <div class="title-line">
        <h1><div class="tab-title">{{localize "cleenmain.label.cap_off"}}</div></h1>
    </div>
    <div class="title-line">
        <h2><div class="combat-domain-label">{{localize "cleenmain.label.protections"}}</div></h2>
        {{#if unlocked}}
        <a class="item-create right-icon" data-type="armor" title="{{localize "cleenmain.armor.add"}}">
                <i class="fas fa-plus"></i>
        </a>
        {{/if}}
    </div>
    <div class="combat-group-label">{{localize "cleenmain.label.trainings"}}</div>
    <div class="trainings-list">
        <div class="trainings-group">
            {{#if unlocked}}
                {{#if data.trainings.armors.war}}
                <input name="data.trainings.armors.war" value="{{data.trainings.armors.war}}" type="checkbox" value="1" checked/>
                {{else}}
                <input name="data.trainings.armors.war" value="{{data.trainings.armors.war}}" type="checkbox" value="0" />
                {{/if}}
            {{else}}
                {{#if data.trainings.armors.war}}
                <i class="fas fa-square"></i>
                {{else}}
                <i class="far fa-square"></i>
                {{/if}}
            {{/if}}
            <div class="trainings-name">{{localize "cleenmain.armor.category.war"}}</div>
        </div>
        <div class="trainings-group">
            {{#if unlocked}}
                {{#if data.trainings.armors.heavy}}
                <input name="data.trainings.armors.heavy" value="{{data.trainings.armors.heavy}}" type="checkbox" value="1" checked/>
                {{else}}
                <input name="data.trainings.armors.heavy" value="{{data.trainings.armors.heavy}}" type="checkbox" value="0" />
                {{/if}}
            {{else}}
                {{#if data.trainings.armors.heavy}}
                <i class="fas fa-square"></i>
                {{else}}
                <i class="far fa-square"></i>
                {{/if}}
            {{/if}}
            <div class="trainings-name">{{localize "cleenmain.armor.category.heavy"}}</div>
        </div>
        <div class="trainings-group">
            {{#if unlocked}}
                {{#if data.trainings.armors.shield}}
                <input name="data.trainings.armors.shield" value="{{data.trainings.armors.shield}}" type="checkbox" value="1" checked/>
                {{else}}
                <input name="data.trainings.armors.shield" value="{{data.trainings.armors.shield}}" type="checkbox" value="0" />
                {{/if}}
            {{else}}
                {{#if data.trainings.armors.shield}}
                <i class="fas fa-square"></i>
                {{else}}
                <i class="far fa-square"></i>
                {{/if}}
            {{/if}}
            <div class="trainings-name">{{localize "cleenmain.armor.category.shield"}}</div>
        </div>
    </div>
    <div class="armors">
        <table>
            <tr>
                <th>{{localize "cleenmain.label.nom"}}</th>
                <th>{{localize "cleenmain.label.category"}}</th>
                <th>{{localize "cleenmain.armor.protection"}}</th>
                <th>{{localize "cleenmain.armor.malus"}}</th>
                <th>{{localize "cleenmain.armor.special"}}</th>
                <th></th>
            </tr>
            {{#each armors as |item id|}}
            <tr>
            <th>
                {{name}}
            </th>
            <th>
                {{item.data.data.category}}
            </th>
            <th>
                {{item.data.data.protection}}
            </th>
            <th>
                {{item.data.data.damage}}
            </th>
            <th>
                {{item.data.data.special}}
            </th>
            {{#if ../unlocked}}
            <th>
            <a class="item-open-sheet" data-type="armor" data-id="{{item.id}}" title="{{localize "cleenmain.sheet.edit"}}">
                <i class="fas fa-pen"></i>
            </a>
            <a class="inline-delete" data-type="armor" data-id="{{item.id}}" title="{{localize "cleenmain.sheet.delete"}}">
                <i class="fas fa-trash"></i>
            </a>
            </th>
            {{/if}}
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="title-line">
        <h2><div class="combat-domain-label">{{localize "cleenmain.label.weapons"}}</div></h2>
        {{#if unlocked}}
        <a class="item-create right-icon" data-type="weapon" title="{{localize "cleenmain.weapon.add"}}">
                <i class="fas fa-plus"></i>
        </a>
        {{/if}}
    </div>
    <div class="combat-group-label">{{localize "cleenmain.label.trainings"}}</div>
    <div class="trainings-list">
        <div class="trainings-group">
            {{#if unlocked}}
                {{#if data.trainings.weapons.war}}
                <input name="data.trainings.weapons.war" value="{{data.trainings.weapons.war}}" type="checkbox" value="1" checked/>
                {{else}}
                <input name="data.trainings.weapons.war" value="{{data.trainings.weapons.war}}" type="checkbox" value="0" />
                {{/if}}
            {{else}}
                {{#if data.trainings.weapons.war}}
                <i class="fas fa-square"></i>
                {{else}}
                <i class="far fa-square"></i>
                {{/if}}
            {{/if}}
            <div class="trainings-name">{{localize "cleenmain.weapon.category.war"}}</div>
        </div>
        <div class="trainings-group">
            {{#if unlocked}}
                {{#if data.trainings.weapons.heavy}}
                <input name="data.trainings.weapons.heavy" value="{{data.trainings.weapons.heavy}}" type="checkbox" value="1" checked/>
                {{else}}
                <input name="data.trainings.weapons.heavy" value="{{data.trainings.weapons.heavy}}" type="checkbox" value="0" />
                {{/if}}
            {{else}}
                {{#if data.trainings.weapons.heavy}}
                <i class="fas fa-square"></i>
                {{else}}
                <i class="far fa-square"></i>
                {{/if}}
            {{/if}}
            <div class="trainings-name">{{localize "cleenmain.weapon.category.heavy"}}</div>
        </div>
    </div>
    <div class="combat-group-label">{{localize "cleenmain.label.bonus"}} : </div>
    <div class="bonus-list">
        <div class="bonus-line">
            <div class="bonus-name">{{localize "cleenmain.label.cac"}} : </div>
            {{#if unlocked}}
            <input class="bonus-text" id="bonuscac" name="data.bonusdamageBonus.cac" type="number" value="{{data.bonusdamageBonus.cac}}"/>
        </div>
        <div class="bonus-line">
            <div class="bonus-name">{{localize "cleenmain.label.distance"}} : </div>
            <input class="bonus-text" id="bonusdistance" name="data.bonusdamageBonus.distance" type="number" value="{{data.bonusdamageBonus.distance }}"/>
        {{else}}
            <div class="bonus-text">{{data.bonusdamageBonus.cac}}</div>
        </div>
        <div class="bonus-line">
            <div class="bonus-name">{{localize "cleenmain.label.distance"}} : </div>
            <div class="bonus-text">{{data.bonusdamageBonus.distance}}</div>
        {{/if}}
        </div>
    </div>
    <div class="weapons">
        <table>
            <tr>
                <th>{{localize "cleenmain.weapon.attaque"}}</th>
                <th>{{localize "cleenmain.label.category"}}</th>
                <th>{{localize "cleenmain.weapon.skillvalue"}}</th>
                <th>{{localize "cleenmain.weapon.damage"}}</th>
                <th>{{localize "cleenmain.weapon.range"}}</th>
                <th>{{localize "cleenmain.weapon.targets"}}</th>
                <th>{{localize "cleenmain.weapon.special"}}</th>
                <th></th>
            </tr>
            {{#each weapons as |item id|}}
            <tr>
            <th>
                {{name}}
            </th>
            <th>
                {{item.data.data.category}}
            </th>
            <th>
                {{item.data.data.skillvalue}}
            </th>
            <th>
                {{item.data.data.damage}}
            </th>
            <th>
                {{item.data.data.range}}
            </th>
            <th>
                {{item.data.data.targets}}
            </th>
            <th>
                {{item.data.data.special}}
            </th>
            <th>
                {{#if ../unlocked}}
                <a class="item-open-sheet" data-type="weapon" data-id="{{item.id}}" title="{{localize "cleenmain.sheet.edit"}}">
                    <i class="fas fa-pen"></i>
                </a>
                <a class="inline-delete" data-type="weapon" data-id="{{item.id}}" title="{{localize "cleenmain.sheet.delete"}}">
                    <i class="fas fa-trash"></i>
                </a>
                {{else}}
                <a class="item-roll" data-type="weapon" data-id="{{item.id}}">
                    <i class="fas fa-dice"></i>
                </a>
                {{/if}}
            </th>
        </tr>
                {{/each}}
        </table>
    </div>
</div>