<div class="tab-bio">
  {{#ifn isNpc}}
  <p>&nbsp;</p>
    {{/ifn}}
  {{#if unlocked}}
    <div class="description-block">
      <h2 class="column-title">{{localize "CLEENMAIN.label.description"}}</h2>
      {{editor descriptionhtml target="system.description" button=true owner=owner editable=editable}}
    </div>
    {{#if isNpc}}
      <div class="description-block">
        <h2 class="column-title">{{localize "CLEENMAIN.label.equipment"}}</h2>
        {{editor equipmenthtml target="system.equipment" button=true owner=owner editable=editable}}
      </div>
      <div class="description-block">
        <h2 class="column-title">{{localize "CLEENMAIN.label.tactic"}}</h2>
        {{editor actorSystem.tactic target="system.tactic" button=true owner=owner editable=editable}}
      </div>        
      <div class="traits-block">
        <h2 class="column-title">{{localize "CLEENMAIN.label.traits"}}</h2>
        {{editor actorSystem.traits target="system.traits" button=true owner=owner editable=editable}}
      </div>
    {{/if}}
  {{else}}
    {{#if (isNotEmptyString actorSystem.description)}}
    <div class="description-block">
      <h2 class="column-title">{{localize "CLEENMAIN.label.description"}}</h2>
      {{{descriptionhtml}}}
    </div>
    {{/if}}
    {{#if isNpc}}
      {{#if (isNotEmptyString actorSystem.equipment)}}
      <div class="description-block">
        <h2 class="column-title">{{localize "CLEENMAIN.label.equipment"}}</h2>
        {{{equipmenthtml}}}
      </div>
      {{/if}}
      {{#if (isNotEmptyString actorSystem.tactic)}}
      <div class="description-block">
        <h2 class="column-title">{{localize "CLEENMAIN.label.tactic"}}</h2>
        {{{actorSystem.tactic}}}
      </div>  
      {{/if}}
      {{#if (isNotEmptyString actorSystem.traits)}}
      <div class="traits-block">
        <h2 class="column-title">{{localize "CLEENMAIN.label.traits"}}</h2>
        {{{actorSystem.traits}}}
      </div>
      {{/if}}
    {{/if}}
  {{/if}}
</div>
