<div class="tab-bio">
    {{#if unlocked}}
        {{#unless isPlayer}}
            <div class="line-label">{{localize "cleenmain.label.tactics"}}: </div>
            {{editor content=data.bio.tactics target="data.bio.tactics" button=true owner=owner editable=editable}}
            <div class="line-label">{{localize "cleenmain.label.equipment"}}: </div>
            {{editor content=data.bio.equipment target="data.bio.equipment" button=true owner=owner editable=editable}}
            <div class="line-label">{{localize "cleenmain.label.description"}}: </div>
            {{editor content=data.bio.description target="data.bio.description" button=true owner=owner editable=editable}}
            {{/unless}}
        <div class="line-label">{{localize "cleenmain.label.goal"}}: </div>
        {{editor content=data.bio.goal target="data.bio.goal" button=true owner=owner editable=editable}}
        <div class="line-label">{{localize "cleenmain.label.bond"}}: </div>
        {{editor content=data.bio.bond target="data.bio.bond" button=true owner=owner editable=editable}}
        <div class="line-label">{{localize "cleenmain.label.flaw"}}: </div>
        {{editor content=data.bio.flaw target="data.bio.flaw" button=true owner=owner editable=editable}}
    {{else}}
    {{#unless isPlayer}}
        <div class="line-label">{{localize "cleenmain.label.description"}}: </div>
        <div class="line-content">{{removeMarkup data.bio.description}}</div>
        <div class="line-label">{{localize "cleenmain.label.tactics"}}: </div>
        <div class="line-content">{{removeMarkup data.bio.tactics}}</div>
        <div class="line-label">{{localize "cleenmain.label.equipment"}}: </div>
        <div class="line-content">{{removeMarkup data.bio.equipment}}</div>
        {{/unless}}
        <div class="line-label">{{localize "cleenmain.label.goal"}}: </div>
        <div class="line-content">{{removeMarkup data.bio.goal}}</div>
        <div class="line-label">{{localize "cleenmain.label.bond"}}: </div>
        <div class="line-content">{{removeMarkup data.bio.bond}}</div>
        <div class="line-label">{{localize "cleenmain.label.flaw"}}: </div>
        <div class="line-content">{{removeMarkup data.bio.flaw}}</div>
    {{/if}}
</div>