<div class="combat-tab">
    <!-- PROTECTIONS PART -->
    <div class="title-line">
        <h1 class="combat-domain-label">{{localize "CLEENMAIN.label.protections"}}
            {{#if unlocked}}
                <a class="item-create right-icon" data-type="armor" title="{{localize 'CLEENMAIN.armor.add'}}"><i class="fas fa-plus"></i></a>
            {{/if}}
        </h1>
    </div>
    <div class="combat-group-label">{{localize "CLEENMAIN.label.trainings"}}</div>
    <div class="trainings-list">
        <div class="trainings-group">
            {{#if unlocked}}
                <input class="checkbox" name="data.trainings.armors.war" type="checkbox" {{checked data.trainings.armors.war}}>
            {{else}}
                {{#if data.trainings.armors.war}}<i class="fas fa-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}
            {{/if}}
            <div class="trainings-name">{{localize "CLEENMAIN.armor.category.war"}}</div>
        </div>
        <div class="trainings-group">
            {{#if unlocked}}
                <input class="checkbox" name="data.trainings.armors.heavy" type="checkbox" {{checked data.trainings.armors.heavy}}>
            {{else}}
                {{#if data.trainings.armors.heavy}}<i class="fas fa-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}
            {{/if}}
            <div class="trainings-name">{{localize "CLEENMAIN.armor.category.heavy"}}</div>
        </div>
        <div class="trainings-group">
            {{#if unlocked}}
                <input class="checkbox" name="data.trainings.armors.shield" type="checkbox" {{checked data.trainings.armors.shield}}>
            {{else}}
                {{#if data.trainings.armors.shield}}<i class="fas fa-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}
            {{/if}}
            <div class="trainings-name">{{localize "CLEENMAIN.armor.category.shield"}}</div>
        </div>
    </div>
    <div class="armors">
        <table>
            <tr>
                <th>{{localize "CLEENMAIN.label.armors"}}</th>
                <th>{{localize "CLEENMAIN.label.category"}}</th>
                <th>{{localize "CLEENMAIN.armor.protection"}}</th>
                <th>{{localize "CLEENMAIN.armor.malus"}}</th>
                <th>{{localize "CLEENMAIN.armor.special"}}</th>
                <th></th>
            </tr>
            {{#each armors as |item id|}}
                <tr>
                    <th>{{name}}</th>
                    <th>{{getCategoryLabel "armor" item.data.data.category}}</th>
                    <th>{{item.data.data.protection}}</th>
                    <th>{{item.data.data.malus}}</th>
                    <th>{{item.data.data.special}}</th>
                    {{#if ../unlocked}}
                        <th>
                            <a class="item-open-sheet" data-type="armor" data-id="{{item.id}}" title="{{localize 'CLEENMAIN.sheet.edit'}}"><i class="fas fa-pen"></i></a>
                            <a class="inline-delete" data-type="armor" data-id="{{item.id}}" title="{{localize 'CLEENMAIN.sheet.delete'}}"><i class="fas fa-trash"></i></a>
                        </th>
                    {{/if}}
                </tr>
            {{/each}}
        </table>
    </div>

    <!-- WEAPONS PART -->
    <div class="title-line">
        <h1 class="combat-domain-label">{{localize "CLEENMAIN.label.weapons"}}
            {{#if unlocked}}
                <a class="item-create right-icon" data-type="weapon" title="{{localize 'CLEENMAIN.weapon.add'}}"><i class="fas fa-plus"></i></a>
            {{/if}}
        </h1>
    </div>
    <div class="combat-group-label">{{localize "CLEENMAIN.label.trainings"}}</div>
    <div class="trainings-list">
        <div class="trainings-group">
            {{#if unlocked}}
                <input class="checkbox" name="data.trainings.weapons.war" type="checkbox" {{checked data.trainings.weapons.war}}>
            {{else}}
                {{#if data.trainings.weapons.war}}<i class="fas fa-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}
            {{/if}}
            <div class="trainings-name">{{localize "CLEENMAIN.weapon.category.war"}}</div>
        </div>
        <div class="trainings-group">
            {{#if unlocked}}
            <input class="checkbox" name="data.trainings.weapons.heavy" type="checkbox" {{checked data.trainings.weapons.heavy}}>
            {{else}}
                {{#if data.trainings.weapons.heavy}}<i class="fas fa-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}
            {{/if}}
            <div class="trainings-name">{{localize "CLEENMAIN.weapon.category.heavy"}}</div>
        </div>
    </div>
    <div class="combat-group-label">{{localize "CLEENMAIN.label.bonus"}}</div>
    <div class="bonus-list">
        <div class="bonus-line">            
            {{#if unlocked}}
                <div class="bonus-name">{{localize "CLEENMAIN.label.melee"}}</div>
                <input class="bonus-text" id="bonusmelee" name="data.damageBonus.melee" type="number" value="{{data.damageBonus.melee}}"/>
                <div class="bonus-name">{{localize "CLEENMAIN.label.ranged"}}</div>
                <input class="bonus-text" id="bonusranged" name="data.damageBonus.ranged" type="number" value="{{data.damageBonus.ranged}}"/>
            {{else}}
                <div class="bonus-name">{{localize "CLEENMAIN.label.melee"}}</div>
                <div class="bonus-text">{{data.damageBonus.melee}}</div>
                <div class="bonus-name">{{localize "CLEENMAIN.label.ranged"}}</div>
                <div class="bonus-text">{{data.damageBonus.ranged}}</div>
            {{/if}}
        </div>
    </div>
    <div class="items weapons">
        <table>
            <thead>
                <tr>
                    <th>{{localize "CLEENMAIN.weapon.name"}}</th>
                    <th>{{localize "CLEENMAIN.label.category"}}</th>
                    <th>{{localize "CLEENMAIN.weapon.skillName"}}</th>
                    <th>{{localize "CLEENMAIN.weapon.attack"}}</th>
                    <th>{{localize "CLEENMAIN.weapon.damage"}}</th>
                    <th>{{localize "CLEENMAIN.weapon.range"}}</th>
                    <th>{{localize "CLEENMAIN.weapon.zone"}}</th>
                    <th>{{localize "CLEENMAIN.weapon.sixPlus"}}</th>
                    <th></th>
                </tr>
            </thead>
            {{#each weapons as |item id|}}
                <tr class="droppable" data-id="{{item.id}}">
                    <th>{{name}}</th>
                    <th>{{getCategoryLabel "weapon" item.data.data.category}}</th>
                    <th>{{item.data.data.skillName}}</th>
                    <th>
                        {{item.data.data.skillValue}}
                        <a class="item-roll" data-type="weapon" data-id="{{item.id}}" data-rolltype="attack"><i class="fas fa-dice"></i></a>
                    </th>
                    <th>
                        {{item.data.data.damage}}
                        <a class="item-roll" data-type="weapon" data-id="{{item.id}}" data-rolltype="damage"><i class="fas fa-dice"></i></a>
                    </th>
                    <th>{{item.data.data.range}}</th>
                    <th>{{item.data.data.zone}}</th>
                    <th>
                        {{#if unlocked}}
                            <input class="checkbox" name="item.data.data.sixPlus" type="checkbox" {{checked item.data.data.sixPlus}}>
                        {{else}}
                            {{#if item.data.data.sixPlus}}<i class="fas fa-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}
                        {{/if}}
                    </th>
                    <th>
                        {{#if ../unlocked}}
                            <a class="item-open-sheet" data-type="weapon" data-id="{{item.id}}" title="{{localize 'CLEENMAIN.sheet.edit'}}">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a class="inline-delete" data-type="weapon" data-id="{{item.id}}" title="{{localize 'CLEENMAIN.sheet.delete'}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        {{/if}}
                    </th>
                </tr>
            {{/each}}
        </table>
    </div>
</div>