<div class="equipment-tab">
    <div class="title-line">
        <h1><div class="column-title">{{localize "cleenmain.label.equipment"}}</div></h1>
        {{#if unlocked}}
        <a class="item-create right-icon" data-type="equipment" title="{{localize "cleenmain.equipment.add"}}">
                <i class="fas fa-plus"></i>
        </a>
        {{/if}}
    </div>
    <div class="equipment-column">
        {{#each equipments as |item id|}}
        <div class="equipment-line">
            <div class="equipment-name">{{item.name}}</div>
            {{#if ../unlocked}}
            <div class="icon-group">
                <a class="item-open-sheet" data-type="equipment" data-id="{{item.id}}" title="{{localize "cleenmain.sheet.edit"}}">
                    <i class="fas fa-pen"></i>
                </a>
                <a class="inline-delete" data-type="equipment" data-id="{{item.id}}" title="{{localize "cleenmain.sheet.delete"}}">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>