<div class="change-lock" data-action="toggleLockMode" title="{{localize 'CLEENMAIN.LABEL.unlockSheet'}}">
  <a>
    {{#if unlocked}}<i class="fas fa-lock-open"></i>
    {{else}}<i class="fas fa-lock" ></i>
    {{/if}}
  </a>
</div>