<form class="{{cssClass}}" autocomplete="off">
    <div class="npc-main">
        <div class="npcstat-block">
            <div class="npcstat-block-left">
                <div class="name-line">
                    {{#if unlocked}}
                        <input class="input-long" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                    {{else}}
                    <div class="name-text">{{actor.name}}</div>
                    {{/if}}
                    <div class="right-icon">
                        <a class="sheet-unlock" title="{{localize "CLEENMAIN.label.unlock_sheet"}}">
                            {{#if unlocked}}
                                <i class="fas fa-lock-open"></i>
                            {{else}}
                                <i class="fas fa-lock"></i>
                            {{/if}}
                        </a>
                    </div>
                </div>
                <div class="activity-line">
                    {{#if unlocked}}
                        <input class="input-verylong" title="{{localize 'CLEENMAIN.label.activity'}}" id="activity" name="data.activity" type="text" value="{{data.activity}}"/>
                        {{else}}
                        {{#if (isNotEmptyString data.activity)}}
                            <div class="activity-text">{{data.activity}}</div>
                        {{/if}}
                    {{/if}}
                </div>
                <div class="level-line">
                    <select name="data.level">
                        {{#select data.level}}
                            {{#each config.npcCategory as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    {{#if eliteRuleset}}
                    <div class="elite-block">
                        <label for="data.elite" title="{{localize "CLEENMAIN.elite.description"}}">{{localize "CLEENMAIN.label.elite"}} : </label>
                        <input class="checkbox" data-field="data.elite" name="data.elite" type="checkbox" {{checked data.elite}}>
                    </div>
                    {{/if}}
                </div>
                <div class="weapons">
                    {{#if unlocked}}
                        <div class="weapon-line">
                            <div class="line-label">{{localize "CLEENMAIN.weapon.add"}}</div>
                            <a class="item-create" data-type="weapon" title="{{localize "CLEENMAIN.weapon.add"}}">
                                    <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    {{/if}}
                    {{#each weapons as |item id|}}
                        <div class="weapon-line item" data-item-id="{{_id}}">
                            <div class="line-label">{{localize "CLEENMAIN.label.combat"}}</div>
                            <div class="weapon-el">({{name}})</div>
                            {{#if ../eliteRulesetModif}}
                            <div class="weapon-el">{{item.data.skillValue}} / {{item.data.skillValueNpcElite}}</div>
                            {{else}}
                            <div class="weapon-el">{{getWeaponSkill @root.actor item}}</div>
                            {{/if}}
                            <a class="weapon-attack-roll">
                                <i class="fas fa-dice"></i>
                            </a>
                            <div class="weapon-el">( {{item.data.damage}} {{item.data.special}})</div>
                            <div class="right-icon"></div>
                            {{#if ../unlocked}}
                                <a class="item-open-sheet" data-type="weapon" title="{{localize 'CLEENMAIN.sheet.edit'}}">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a class="inline-delete" data-type="weapon" data-id="{{item.id}}" title="{{localize 'CLEENMAIN.sheet.delete'}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            {{/if}}
                        </div>
                    {{/each}}
                    <div class="weapon-line">
                        <div class="line-label">{{localize "CLEENMAIN.skill.defence.name"}} : </div>
                        {{#if unlocked}}
                            <input class="npcdefence-edit skill-value input-short" data-field="data.base" type="number" name="defenceSkill.data.base" value="{{defenceSkill.data.base}}" data-dtype="Number" />
                            {{#if eliteRulesetModif}}
                            <div class="central-text">/</div>
                            <input class="npcdefence-edit skill-value input-short" title="{{localize "CLEENMAIN.elite.skill"}}" data-field="data.baseNpcElite" type="number" name="defenceSkill.data.baseNpcElite" value="{{defenceSkill.data.baseNpcElite}}" data-dtype="Number" />
                            {{/if}}
                            <div class="weapon-el"></div>
                            <input class="input-long" title="{{localize 'CLEENMAIN.armor.add'}}" id="defence" name="data.defence.name" type="text" value="{{data.defence.name}}"/>
                            <div class="weapon-el">(</div>
                            <input class="input-short" title="{{localize 'CLEENMAIN.armor.protection'}}" id="defence" name="data.defence.protection" type="number" value="{{data.defence.protection}}"/>
                            <div class="weapon-el"> </div>
                            <input class="input-long" title="{{localize 'CLEENMAIN.armor.special'}}" id="defence" name="data.defence.special" type="text" value="{{data.defence.special}}"/>
                            <div class="weapon-el">)</div>
                        {{else}}
                            <div class="weapon-el">{{getDefenceValue @root.actor}}</div>
                            <a class="npcdefence-roll" data-type="npcdefence" data-attribute="defence">
                                <i class="fas fa-dice"></i>
                            </a>
                            <div class="weapon-el">{{data.defence.name}}</div>
                            <div class="weapon-el">( {{data.defence.protection}} {{data.defence.special}} )</div>
                        {{/if}}
                    </div>
                </div>
                <div class="skills">
                    {{#if unlocked}}
                        <div class="skill-line">
                            <div class="line-label">{{localize "CLEENMAIN.skill.add"}} </div>
                            <a class="item-create" data-type="skill" title="{{localize 'CLEENMAIN.skill.add'}}"><i class="fas fa-plus"></i></a>
                        </div>
                        <div class="skill-line item-list">
                            {{#each skills as |skill type|}}
                                <div class="skill-block item {{#if ../unlocked}}skill-edit {{else}}skill-nonedit{{/if}}" data-item-id="{{_id}}">                                    
                                    <input class="inline-edit skill-name input-long" data-field="name" type="text" value="{{skill.name}}" data-dtype="Text" />
                                    <input class="inline-edit skill-value input-short" data-field="data.base" type="number" name="skill.data.base" value="{{skill.data.base}}" data-dtype="Number" />
                                    {{#if ../eliteRulesetModif}}
                                    <div class="central-text">/</div>
                                    <input class="inline-edit skill-value input-short" title="{{localize "CLEENMAIN.elite.skill"}}" data-field="data.baseNpcElite" type="number" name="skill.data.baseNpcElite" value="{{skill.data.baseNpcElite}}" data-dtype="Number" />
                                    {{/if}}
                                    <a class="inline-delete" data-type="skill" title="{{localize 'CLEENMAIN.skill.delete'}}"><i class="fas fa-trash"></i></a>
                                </div>
                            {{/each}}
                        </div>            
                    {{else}}
                        <div class="skill-line item-list">
                            {{#each skills as |skill type|}}
                                <div class="skill-block item" data-item-id="{{_id}}">
                                    <div class="skill-name" title="{{skill.data.data.description}}" >{{skill.name}} :</div>
                                    <div class="skill-value">{{getSkillValue @root.actor skill}}</div>
                                    <a class="skill-roll"><i class="fas fa-dice"></i></a>
                                </div>
                            {{/each}}                         
                        </div>
                    {{/if}}                        
                </div>

                <div class="npchealth-line">
                    {{#if isPlayer}}                    
                        <div class="central-text">{{localize "CLEENMAIN.label.health"}} : </div>
                    {{else}}
                        {{#if isSupport}}
                            <div class="central-text">{{localize "CLEENMAIN.label.supportNumber"}} : </div>
                        {{else}}
                            <div class="central-text">{{localize "CLEENMAIN.label.health"}} : </div>
                        {{/if}}
                    {{/if}}                    
                    <input class="input-short" title="{{localize 'CLEENMAIN.health.current'}}" id="health" name="data.health.value" type="number" value="{{data.health.value}}"/>
                    <div class="central-text">/</div>
                    <div class="central-text">{{data.health.max}}</div>                    
                    {{#if unlocked}}

                        <div class="health-block">
                            <div class="central-text">{{localize "CLEENMAIN.health.twopcs"}} : </div>
                            <input class="input-short" id="twopcs" name="data.healthByNumberPlayers.two" type="number" value="{{data.healthByNumberPlayers.two}}"/>
                        </div>
                        <div class="health-block">
                            <div class="central-text">{{localize "CLEENMAIN.health.threepcs"}} : </div>
                            <input class="input-short" id="threepcs" name="data.healthByNumberPlayers.three" type="number" value="{{data.healthByNumberPlayers.three}}"/>
                        </div>
                        <div class="health-block">
                            <div class="central-text">{{localize "CLEENMAIN.health.fourpcs"}} : </div>
                            <input class="input-short" id="fourpcs" name="data.healthByNumberPlayers.four" type="number" value="{{data.healthByNumberPlayers.four}}"/>
                        </div>
                        <div class="health-block">
                            <div class="central-text">{{localize "CLEENMAIN.health.fivepcs"}} : </div>
                            <input class="input-short" id="fivepcs" name="data.healthByNumberPlayers.five" type="number" value="{{data.healthByNumberPlayers.five}}"/>
                        </div>
                    {{/if}}
                </div>
            </div>
            {{#if unlocked}}
            <div class="npcstat-block-right">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="250" width="200"/>
            </div>
            {{else}}
                {{#if (ne actor.img "icons/svg/mystery-man.svg")}}
                    <div class="npcstat-block-right">
                        <img src="{{actor.img}}" title="{{actor.name}}" height="250" width="200"/>
                    </div>
                {{/if}}
            {{/if}}            
        </div>
        {{> systems/cleenmain/templates/actor/tab/boons.html}}
        {{> systems/cleenmain/templates/actor/tab/bio.html}}
    </div>
</form>
