<form class="{{cssClass}}" autocomplete="off">
    <div class="main">
        <div class="leftcolumn">
            <div class="title-line">
                <h1 class="column-title">{{localize "CLEENMAIN.label.skills"}}
                    {{#if unlocked}}
                        <a class="item-create right-icon" data-type="skill" title="{{localize 'CLEENMAIN.skill.add'}}"><i class="fas fa-plus"></i></a>
                    {{/if}}
                </h1>                    
            </div>
            {{#if unlocked}}
                <div class="skills item-list">
                    {{#each skills as |skill type|}}
                        <div class="skill-line item" data-item-id="{{_id}}">
                            <input class="inline-edit skill-name" data-field="name" type="text" value="{{skill.name}}" data-dtype="Text"/>
                            <input class="inline-edit skill-value" data-field="data.base" type="number" name="skill.data.base" value="{{skill.data.base}}" data-dtype="Number" />
                            <input title="{{localize 'CLEENMAIN.skill.developed'}}" class="inline-edit skill-dev checkbox" data-field="data.developed" name="skill.data.developed" type="checkbox" {{checked skill.data.developed}}>
                            <input title="{{localize 'CLEENMAIN.skill.physical'}}" class="inline-edit skill-physical checkbox" data-field="data.physical" name="skill.data.physical" type="checkbox" {{checked skill.data.physical}}>
                            <a class="inline-delete" data-type="skill" title="{{localize 'CLEENMAIN.skill.delete'}}"><i class="fas fa-trash"></i></a>
                        </div>
                    {{/each}}
                </div>
            {{else}}
                <div class="skills">
                    {{#each skills as |skill type|}}
                        <div class="skill-line item" data-item-id="{{_id}}">
                            <div class="skill-name" title="{{skill.data.description}}" >{{skill.name}}</div>
                            <div class="skill-value">{{skill.data.value}}</div>
                            <a class="skill-roll">
                                <i class="fas fa-dice"></i>
                            </a></th>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
        <div class="central">
            <div class="intro-block">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100"/>
                <div class="intro-block-right">
                    <div class="central-line">
                        <div class="name-text">{{localize "CLEENMAIN.label.character"}} :</div>
                        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                        <div class="right-icon">
                            <a class="sheet-unlock" title="{{localize 'CLEENMAIN.label.unlock_sheet'}}">
                                {{#if unlocked}}
                                    <i class="fas fa-lock-open"></i>
                                {{else}}
                                    <i class="fas fa-lock"></i>
                                {{/if}}
                            </a>
                        </div>
                    </div>
                    <div class="central-line">
                        <div class="name-text">{{localize "CLEENMAIN.label.activity"}} :</div>
                        {{#if unlocked}}
                            <input id="activity" name="data.activity" type="text" value="{{data.activity}}" />
                        {{else}}
                            <div class="activity-text">{{data.activity}}</div>
                        {{/if}}
                    </div>
                    <div class="central-line space-between">
                        <div class="health-block">
                            <div class="health-text">{{localize "CLEENMAIN.label.health"}} :</div>
                                <input class="health-input" title="{{localize 'CLEENMAIN.health.current'}}" id="health" name="data.health.value" type="number" value="{{data.health.value}}"/>
                                <div class="central-text">/</div>
                                {{#if unlocked}}
                                    <input title="{{localize "CLEENMAIN.health.max"}}" id="health" name="data.health.max" type="number" value="{{data.health.max}}"/>
                                {{else}}
                                    <div class="central-text">{{data.health.max}}</div>
                                {{/if}}
                        </div>
                            <div class="blessure-block">
                                <div class="blessure-text">{{localize "CLEENMAIN.label.wounds"}} :</div>
                                <select id="blessure" name="data.blessure">
                                    {{#select data.blessure}}
                                        <option value="0">0</option>
                                        <option value="-5">-5</option>
                                        <option value="-10">-10</option>
                                        <option value="-15">-15</option>
                                        <option value="-20">-20</option>
                                    {{/select}}
                                </select>
                            </div>
                    </div>
                    <div class="central-line">
                            <div class="heroism-text">{{localize "CLEENMAIN.label.heroism"}}:</div>
                            <div class="input-heroism">
                                <input title="{{localize 'CLEENMAIN.heroism.current'}}" id="heroism" name="data.heroism.value" type="number" value="{{data.heroism.value}}"/>
                                <div class="central-text">/</div>
                                {{#if unlocked}}
                                    <input title="{{localize 'CLEENMAIN.heroism.max'}}" id="heroismmax" name="data.heroism.max" type="number" value="{{data.heroism.max}}" readonly/>
                                    <input class="checkbox" data-field="data.heroism.developed" name="data.heroism.developed" type="checkbox" {{checked data.heroism.developed}}>
                                {{else}}
                                    <div class="central-text">{{data.heroism.max}}</div><i class="{{getCheckboxIcon  data.heroism.max}} central-text"></i>
                                {{/if}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="sheet-tabs tabs" data-group="primary">
                <b class="actor" data-tab="combat">{{localize "CLEENMAIN.sheet.tab.combat"}}</b>
                <b class="actor" data-tab="boons">{{localize "CLEENMAIN.sheet.tab.boons"}}</b>
                <b class="actor" data-tab="equipment">{{localize "CLEENMAIN.sheet.tab.equipment"}}</b>
                <b class="actor" data-tab="bio">{{localize "CLEENMAIN.sheet.tab.bio"}}</b>
                <b class="actor" data-tab="notes">{{localize "CLEENMAIN.sheet.tab.notes"}}</b>
            </div>
    
            <div class="sheet-body">
                <div class="tab" data-group="primary" data-tab="combat">{{> systems/cleenmain/templates/actor/tab/combat.html}}</div>
                <div class="tab" data-group="primary" data-tab="boons">{{> systems/cleenmain/templates/actor/tab/boons.html}}</div>
                <div class="tab" data-group="primary" data-tab="equipment">{{> systems/cleenmain/templates/actor/tab/equipment.html}}</div>
                <div class="tab" data-group="primary" data-tab="bio">{{> systems/cleenmain/templates/actor/tab/bio.html}}</div>
                <div class="tab" data-group="primary" data-tab="notes">{{> systems/cleenmain/templates/actor/tab/notes.html}}</div>
            </div>
        </div>
    </div>
</form>

