<div class="dialog">
  
  <div class="introImg" style="background-image: url('{{targetData.actor.data.img}}')"></div>
  <div class="introtext">
    {{skillData.introText}} 
  </div>
  <div class="formula">
    {{skillData.skillRollFormula}}
  </div>

  <div class="rollmodifier">
    <label>{{localize "cleenmain.dialog.rollmodifier"}}</label><input id="rollmodifier" value="" type="text" data-dtype="Text"/>
  </div>

  <div class="simplebox">
    <label>{{localize "cleenmain.dialog.heroism"}}</label><input type="checkbox" id="heroism" />
  </div>

</div>