<div class="chatroll">
    <div class="intro">
        <div class="introImg" style="background-image: url('{{skillData.actingCharImg}}')">
            <div class="introText">{{skillData.introText}}</div>
        </div>
    </div>
        <div class="modifierText">{{skillData.modifierText}}</div>  
        {{#if skillData.useHeroism}}    
        <div class="modifierText">{{skillData.heroismText}}</div>
        {{/if}}
        <div class="formulaText">
            {{localize "cleenmain.chatmessage.rollformula"}}  {{skillData.skillRollFormula}}
        </div>
        <div class="finalText">
            <div class="tooltip">
                <p>{{localize "cleenmain.chatmessage.rollresult"}} {{skillData.skillRoll.total}}</p>
                <span class="tooltiptext">{{skillData.tooltip}}</span>
            </div>
        </div>
</div>