<div class="dice-tooltip">
    {{#each parts}}
        <section class="tooltip-part">
            <div class="dice">
                <header class="part-header flexrow">
                    <span class="part-formula">{{this.source}}</span>
                    {{#if (isNotEmptyString total)}}
                        <span class="part-total">{{total}}</span>
                    {{/if}}
                </header>
                <ol class="dice-rolls">
                {{#each this.dices}}
                    <li class="roll">{{this}}</li>
                {{/each}}
                </ol>
            </div>
        </section>
    {{/each}}
</div>