<form class="{{cssClass}}" autocomplete="off">
    <div class="main">
        <div class="sidebar">
            <div class="skills">
                <table>
                    <caption><h1>{{localize "cleenmain.label.skills"}}</h1></caption>
                    <tbody>
                    {{#each data.skills as |name type|}}
                        <tr>
                            <th>
                                <div class="skill-name">{{localize name.label}}
                                </div>
                            </th>
                            <th>
                                <input id="{{id}}-{{type}}-value" type="number" value="{{name.value}}" data-dtype="Number" />
                            </th>
                            <th>
                                {{#if name.developed}}
                                <input id="{{id}}-{{type}}-dev" name="name.developed" type="checkbox" value="name.developed" checked/>
                                {{else}}
                                <input id="{{id}}-{{type}}-dev" name="name.developed" type="checkbox" value="name.developed"/>
                                {{/if}}
                            </th>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="central">
        <span class="imgpaxtitle01"></span>
        <div class="bigname">{{localize "cleenmain.label.character"}}</div>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
        <div class="bigname">{{localize "cleenmain.label.occupation"}} : </div>
        <input name="occupation" type="text" value="{{data.bio.occupation}}"/>
        <caption><h1>{{localize "cleenmain.label.atouts"}}</h1></caption>
        <a class="item-create" data-type="atout" title="{{localize cleenmain.label.addAtout}}">
            <i class="fas fa-plus"></i>
        </a>
        <div class="atouts">
            {{#each atouts as |item|}}
            {{> "systems/cleenmain/templates/partials/atout-card.html" item}}
            {{/each}}
        </div>
    </div>
    <div class="rightcolumn">
        <caption><h1>{{localize "cleenmain.label.equipment"}}</h1></caption>
        <caption><h1>{{localize "cleenmain.label.wealth"}}</h1></caption>
        <div class="wealth-name">{{localize "cleenmain.wealth.platinium"}}</div>
        <input name="name" type="text" value="{{data.wealth.platinium}}" placeholder="Name"/>
    </div>
</form>

