<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "CLEENMAIN.label.category"}}</th>
                <th>{{localize "CLEENMAIN.armor.protection"}}</th>
                <th>{{localize "CLEENMAIN.armor.malus"}}</th>
                <th>{{localize "CLEENMAIN.armor.special"}}</th>
                <th>{{localize "CLEENMAIN.armor.quality"}}</th>
            </tr>
            <td>
                <select name="data.category">
                    {{#select data.category}}
                    {{#each config.armor.category as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <input name="data.protection" type="text" value="{{data.protection}}" />
            </td>
            <td>
                <input name="data.malus" type="number" value="{{data.malus}}" />
            </td>
            <td>
                <input name="data.special" type="text" value="{{data.special}}" />
            </td>
            <td>
                <input name="data.quality" type="text" value="{{data.quality}}" />
            </td>
            </table>
            
            <div class="description">{{localize "CLEENMAIN.label.description"}}</div>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>

