<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <h1><input name="name" type="text" value="{{item.name}}"/></h1>
    </header>
    <div class="sheet-content">
        <div class="skill-block">
            <label for="system.base">{{localize "CLEENMAIN.tooltip.skill"}} : </label>
            <input title="{{localize 'CLEENMAIN.label.value'}}" id="skill" name="system.base" type="number" value="{{system.base}}"/>
        </div>
        <div class="skill-block">
            <label for="system.physical">{{localize "CLEENMAIN.skill.isPhysical"}} : </label>
            <input title="{{localize 'CLEENMAIN.skill.isPhysical'}}" class="checkbox" name="system.physical" type="checkbox" {{checked system.physical}}>
        </div>
    </div>
</form>

