<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "cleenmain.label.category"}}</th>
                <th>{{localize "cleenmain.label.type"}}</th>
                <th>{{localize "cleenmain.weapon.damage"}}</th>
                <th>{{localize "cleenmain.weapon.range"}}</th>
                <th>{{localize "cleenmain.weapon.targets"}}</th>
                <th>{{localize "cleenmain.weapon.special"}}</th>
                {{#if hasnpcowner}}
                <th>{{localize "cleenmain.weapon.skillvaluenpc"}}</th>
                <th>{{localize "cleenmain.weapon.skillvaluenpcelite"}}</th>
                {{else}}
                <th>{{localize "cleenmain.weapon.skillvalue"}}</th>
                {{/if}}
            </tr>
            <td>
                <select name="data.category">
                    {{#select data.category}}
                    {{#each config.weapon.category as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <select name="data.type">
                    {{#select data.type}}
                    {{#each config.weapon.type as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <input name="data.damage" type="text" value="{{data.damage}}" />
            </td>
            <td>
                <input name="data.range" type="text" value="{{data.range}}" data-dtype="Number" />
            </td>
            <td>
                <input name="data.targets" type="text" value="{{data.targets}}" data-dtype="Number" />
            </td>
            <td>
                <input name="data.special" type="text" value="{{data.special}}" />
            </td>
            {{#if hasnpcowner}}
            <td>
                <input name="data.skillvaluenpc" type="text" value="{{data.skillvaluenpc}}" />
            </td>
            <td>
                <input name="data.skillvaluenpcelite" type="text" value="{{data.skillvaluenpcelite}}" />
            </td>
            {{else}}
            <td>
                <input name="data.skillvalue" type="text" value="{{data.skillvalue}}" />
            </td>
            {{/if}}
            </table>
            
            <div class="description">{{localize "cleenmain.label.description"}}</div>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>

