<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <thead>
                <tr>
                    <th>{{localize "CLEENMAIN.label.category"}}</th>
                    <th>{{localize "CLEENMAIN.label.type"}}</th>
                    <th>{{localize "CLEENMAIN.weapon.damage"}}</th>
                    <th>{{localize "CLEENMAIN.weapon.range"}}</th>
                    <th>{{localize "CLEENMAIN.weapon.targets"}}</th>
                    <th>{{localize "CLEENMAIN.weapon.special"}}</th>
                    <th>{{localize "CLEENMAIN.weapon.zone"}}</th>
                    <th>{{localize "CLEENMAIN.weapon.sixPlus"}}</th>
                    {{#if hasNpcOwner}}
                        <th>{{localize "CLEENMAIN.weapon.skillValue"}}</th>
                        <th>{{localize "CLEENMAIN.weapon.skillValueNpcElite"}}</th>
                    {{else}}
                        <th>{{localize "CLEENMAIN.weapon.skillName"}}</th>
                    {{/if}}
                </tr>
            </thead>     

            <td>
                <select name="data.category">
                    {{#select data.category}}
                        {{#each config.weapon.category as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
            <td>
                <select name="data.type">
                    {{#select data.type}}
                        {{#each config.weapon.type as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </td>
            <td><input name="data.damageBase" type="text" value="{{data.damageBase}}"/></td>
            <td><input name="data.range" type="text" value="{{data.range}}" data-dtype="Number"/></td>
            <td><input name="data.targets" type="text" value="{{data.targets}}" data-dtype="Number"/></td>
            <td><input name="data.special" type="text" value="{{data.special}}"/></td>
            <td><input name="data.zone" type="text" value="{{data.zone}}" /></td>
            <td><input name="data.sixPlus" type="checkbox" {{checked data.sixPlus}}/></td>
            {{#if hasNpcOwner}}
                <td><input name="data.skillValue" type="number" value="{{data.skillValue}}"/></td>
                {{#if (isSettingEnabled "advancedRules")}}
                <td><input name="data.skillValueNpcElite" type="number" value="{{data.skillValueNpcElite}}"/></td>
                {{/if}}
                {{else}}
                    <td>{{data.skillName}}</td>
            {{/if}}
            </table>
            
            <div class="description">{{localize "CLEENMAIN.label.description"}}</div>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>

